*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
:root{
    --header:57px
}

.container{
    height: 100vh;
}

button{
    border: none;
}

/* Utility */

.flex{
    display: flex;
}

.directionColumn{
    flex-direction: column;
}

.jCCenter{
    justify-content: center;
}

.jCSpace{
    justify-content: space-between;
}

.alignCenter{
    align-items: center;
}




/* Style */

.mainContent{
    width: 100%;
}


.mainNavBar{
    background-color: #EAEAEA;
    height: var(--header);
}

.chatPage{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}

.chatBar{
    height:var(--header);
    background-color: #EAEAEA;
}

.sideBar{
    display: none;
}

.app{
     background: linear-gradient( to bottom, #019688 0%, #019688 25%, #DCDBD3 25%, #DCDBD3 100% ); 
}

.chatInput{
    width: 90%;
    height: 80%;
}

.chatInput input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}


.chatBar .icon{
    padding: 16px 25px;
    display: none;
    font-size: 20px;
}


/* Query */

@media screen and (min-width:576px) {
    .sideBar{
        width: 70px;
        display: block;
        background-color: #FFFFFF;
    }
    
    .chatInput{
        width: 80%;
    }

    .chatBar .icon{
        display: block;
    }
    
    .chatInput{
        width: 100%;
    }

    .chatBar.jCCenter{
        justify-content: space-between;
    }
}



@media screen and (min-width:992px) {
    .sideBar{
        width: 300px;
    }
    
    .container{
        width: 80%;
        margin: auto;
        padding: 20px 0;
    }
}