*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
:root{
    --header:57px;
    --iconColor:#B2B2B2;
}

.container{
    height: 100vh;
}

button{
    border: none;
}

/* Utility */

.flex{
    display: flex;
}

.directionColumn{
    flex-direction: column;
}

.jCCenter{
    justify-content: center;
}

.jCSpace{
    justify-content: space-between;
}

.alignCenter{
    align-items: center;
}

.padding5px{
    padding: 5px;
}

.gap12px{
    gap: 12px;
}

.alignSelfEnd{
    align-self: flex-end;
}

.cursorPointer{cursor:pointer}
   
.width100{
    width: 100%;
}

.padding0px15px{
    padding: 0 15px;
}



/* Style */

.mainContent{
    width: 100%;
}


.mainNavBar{
    background-color: #EAEAEA;
    height: var(--header);
}

.chatPage{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    padding: 22px 15px;
}

.chatBar{
    height:var(--header);
    background-color: #EAEAEA;
}

.sideBar{
    display: none;
}

.app{
     background: linear-gradient( to bottom, #019688 0%, #019688 25%, #DCDBD3 25%, #DCDBD3 100% ); 
}

.chatInput{
    width: 90%;
    height: 80%;
}

.chatInput input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}


.chatBar .icon{
    padding: 16px 25px;
    display: none;
    font-size: 20px;
}

.chattingIcon{
    width: 86px;
   
}

.profileIcon{
    clip-path: circle();
}

.chattingInfo h2{
    font-size: 17px;
}

.chattingInfo p{
    font-size: 12px;
}


.message{
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.sentMessage{
    align-self: flex-end;
    background-color: #D5FABA;
}


.receivedMessage{
    background-color: #FFFFFF;
}

.sentTime{
    font-size: small;
}

.colorGrey{
    color: var(--iconColor);
}

.mainNavBar a{
    padding: 0 8px;
    color: grey;
}

.messageMenu{
    font-size: 12px;
    padding-left: 2px;
}

.links{
    display: none;
}

/* Query */

@media screen and (min-width:576px) {
    .sideBar{
        width: 70px;
        display: block;
        background-color: #FFFFFF;
    }
    
    .chatInput{
        width: 80%;
    }

    .chatBar .icon{
        display: block;
    }
    
    .chatInput{
        width: 100%;
    }

    .chatBar.jCCenter{
        justify-content: space-between;
    }

    .message {
        width: 65%;}

    .chatPage{
        padding: 27px 55px;
    }

    .links{
        display: block;
    }
}



@media screen and (min-width:992px) {
    .sideBar{
        width: 300px;
    }
    
    .container{
        width: 80%;
        margin: auto;
        padding: 20px 0;
    }

    .chatPage{
        padding: 40px 55px;
    }
}